<!-- 
<h1>aaaaaaaaa {{ magasins?.length }}</h1>
<h1>aaaaaaaaa {{ produits?.length }}</h1>
<div *ngFor="let x of produits">
  {{ x.description }}
</div>
<div *ngFor="let x of magasins">{{ x.id }}{{ x.nom }}</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nom</th>
      <th scope="col">lieu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of magasins">
      <th scope="row">{{ x.id }}</th>
      <td>{{ x.nom }}</td>
      <td>{{ x.lieu }}</td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">description</th>
      <th scope="col">mag</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of produits">
      <th scope="row">{{ x.id }}</th>
      <td>{{ x.description }}</td>
      <td>{{ x.mag.id }}</td>
    </tr>
  </tbody>
</table>
<H1 style="color: brown;">{{magProduits?.length}}</H1> -->
<!-- <form style="width: 500px">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">nom</label>
    <input type="text" class="form-control" [(ngModel)]="nom" name="nom" />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">lieu</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      [(ngModel)]="lieu"
      name="lieu"
    />
  </div> -->
<!-- <button (click)="addMagasin()" type="submit" class="btn btn-primary">
    Submit
  </button> -->
<!-- </form> -->
<!-- <form style="width: 500px">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">description</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="description"
      name="description"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">prixAchat</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="prixAchat"
      name="prixAchat"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">prixVente</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="prixVente"
      name="prixVente"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >dateEnregistrement</label
    >
    <input
      type="text"
      class="form-control"
      [(ngModel)]="dateEnregistrement"
      name="dateEnregistrement"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">quantiteStock</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="quantiteStock"
      name="quantiteStock"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">idMag</label>
    <input type="text" class="form-control" [(ngModel)]="idMag" name="idMag" />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <button (click)="addProduit()" type="submit" class="btn btn-primary">
    Submit
  </button>
</form> -->
<div class="container">
  <div class="top">
    <div class="left">
      <H1 class="title">Liste des Magasins</H1>

      <table mat-table [dataSource]="magasins" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lieu">
          <th mat-header-cell *matHeaderCellDef>Lieu</th>
          <td mat-cell *matCellDef="let element">{{ element.lieu }}</td>
        </ng-container>
        <ng-container matColumnDef="produit">
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let element">
            <a
              [class.selected]="selectedID === element.id"
              (click)="getMagProduits(element.id)"
              >liste des produits</a
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="right">
      <H1 class="title">Liste des produit</H1>
      <div *ngIf="magProduits.length > 0">
        <table mat-table [dataSource]="magProduits" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->

          <!-- Name Column -->

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>nom</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="prixAchat">
            <th mat-header-cell *matHeaderCellDef>prixAchat</th>
            <td mat-cell *matCellDef="let element">{{ element.prixAchat }}</td>
          </ng-container>
          <ng-container matColumnDef="prixVente">
            <th mat-header-cell *matHeaderCellDef>prixVente</th>
            <td mat-cell *matCellDef="let element">'{{ element.prixVente }}</td>
          </ng-container>
          <ng-container matColumnDef="quantiteStock">
            <th mat-header-cell *matHeaderCellDef>quantiteStock</th>
            <td mat-cell *matCellDef="let element">
              {{ element.quantiteStock }}
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>delete</th>
            <td mat-cell *matCellDef="let element" ><mat-icon (click)="deleteProduit(element.id)"  style="color: rgb(221, 60, 60);cursor: pointer;">delete</mat-icon>            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
      </div>
      <div *ngIf="magProduits.length === 0">
        <mat-card>Ce magasin ne contient aucun produit</mat-card>
      </div>
    </div>
  </div>

  <div class="bottom">
    <button class="btn" (click)="openAddMagasinPage()">
      Ajouter un magasin
    </button>
    <button class="btn" (click)="openAddProduitPage()">Ajouter un produit</button>
  </div>
</div>
