<form style="width: 250px">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">nom</label>
    <input type="text" class="form-control" [(ngModel)]="nom" name="nom" />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">lieu</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      [(ngModel)]="lieu"
      name="lieu"
    />
  </div>
  <button (click)="addMagasin()" type="submit" class="btn btn-primary">
    Ajouter
  </button>
  <button type="button" class="btn btn-light" (click)="onClose()">close</button>
</form>
